# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
.gradle/
android/app/build/
android/local.properties
android/app/google-services.json

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GoogleService-Info.plist

# Archivos sensibles
key.properties
**/*.keystore
**/*.jks
.env

# IDEs
.idea/
.vscode/

# Otros
*.log
*.tmp
.DS_Store